footer{
    background-color: rgb(243, 231, 5);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1260px) {
    .footer{
        padding: 0 30px;
    }
}

.footer__text{
    text-align: right;
}

.footer {
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .soc__item {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  
  .footer__logo-link{
    text-decoration: none;
  }
  .footer__logo{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;

    
    letter-spacing: 5px;
    text-transform: uppercase;

  } 
  .footer__link{
    font-style: normal;
    font-weight: 100;   
    letter-spacing: 2px;
    text-decoration: none;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
 .footer__social{
    flex-direction: column;
    display: flex;
 }
  .footer__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer__list li{
    list-style-type: none;
  }

  .social-media{
    display: flex;
    justify-content: space-evenly;
  }